*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Josefin Sans', sans-serif; */
    font-family: 'Open Sans', sans-serif;
}
:root{
    --primary-color: #054159;
    --blue: #406473;
    --azzure: #86A6A6;
    --light-color: #F2EFDF;
    --grey: #D8D9C5;
}
/* utilites */

/* body and contianer */
body{
    background-image: url(../img/pexels-johannes-plenio-1103970.jpg);
    background-size: cover;
    background-position: center;
}
/* initial section */
h1{
    font-size: 3rem;
    background: linear-gradient(to right, var(--primary-color), var(--blue));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.btn{
    background-color: var(--primary-color);
    color: white;
    transition: all 1s ease-in-out;
}
#btnCheck{
    translate: 50%;
}
#btnDice{
    translate: -50%;
}
.btn:hover{
    background-color: var(--blue);
    color: white;
}
/* mailSection & gameSection */
.mailSection, .gameSection{
    opacity: 0;
    transition: all 1s;
}
